*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
    @font-face {
    font-family:"font1";
    src: url(../Michroma-Regular.ttf);
    }
    @font-face {
    font-family:"font2";
    src: url(../Poppins-Light.ttf);
    }   
a{
    color: inherit;
}
button{
    cursor: pointer;
}
.container{
    width: 85%;
    margin: auto;
    max-width: 1440px;
}
